html, body {
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  #participants {
	display: none;
  }
}

@media only screen and (min-width: 769px) {
  p[class="text-center"] {
	  display: none;
  }
}

::-webkit-scrollbar { 
  display: none; 
}
